.garanta-a-satisfação-do-seu-cliente {
    height: auto; /* Alterado para altura automática */
    background-color: #FFF;
    padding: 3% 0; /* Alterado o padding-top e removido o padding-bottom */
    padding-bottom: 7%;
}

.seu-cliente-box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 3%;
}

.title-seu-cliente-box {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10%;
}

.title-seu-cliente {
    font-size: 2.25rem;
    line-height: 50px;
}

.content-seu-cliente {
    display: grid;
    grid-template-areas: "text-one image text-two";
    grid-template-columns: 20% 60% 20%;
    padding-left: 5%;
    padding-right: 5%;
}

.seu-cliente-list-one {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15%;
    grid-area: text-one;
}

.item-list-seu-cliente {
    display: flex;
    flex-direction: column;
    height: 14%;
    gap: 10px;
}

.item-list-seu-cliente-one{
    display: flex;
    flex-direction: column;
    height: 4%;
    gap: 10px;
}

.title-item {
    font-size: 1.1rem;
    line-height: 25px;
}

.text-item {
    font-size: 0.8rem;
}

.seu-cliente-list-two {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 6%;
    grid-area: text-two;
}

.seu-cliente-gif-box {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-area: image;
}

.seu-cliente-gif {
    width: 75%;
}

.button-seu-cliente {
    background-color: #0074ff;
    color: #FFF;
    font-weight: 400;
    font-size: 1rem;
    border: 1px solid #0074ff;
    border-radius: 100px;
    padding: 0.7%;
    width: 20%;
    margin-top: 1%;
}

.button-seu-cliente:hover{
    background-color: #000;
    transition: 0.5s;
    border: 1px solid #000;
}

.seu-cliente-gif-box-mobile {
    display: none;
}

@media (max-width: 768px) {
    .garanta-a-satisfação-do-seu-cliente {
        height: auto; /* Alterado para altura automática */
        background-color: #FFF;
        padding-left: 10%;
        padding-right: 10%;
        padding-bottom: 20%;
    }

    .seu-cliente-box {
        height: auto; /* Alterado para altura automática */
    }

    .seu-cliente-gif-box {
        display: none;
    }

    .title-seu-cliente {
        font-size: 1.9rem;
        line-height: 40px;
        width: 100%;
    }

    .cliente-gif{
        width: 100%;
    }

    .seu-cliente-gif-box-mobile {
        display: flex;
        justify-content: center;
        padding: 0;
        width: 100%;
    }

    .content-seu-cliente {
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding: 0;
        padding-top: 10%;
        margin-bottom: 10%;
    }

    .seu-cliente-list-one {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 20px;
    }

    .item-list-seu-cliente {
        display: flex;
        flex-direction: column;
        height: 10%;
        gap: 10px;
    }

    .seu-cliente-list-two {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
        gap: 20px;
    }

    .item-list-seu-cliente-two {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .title-item {
        font-size: 1.2rem;
    }

    .text-item {
        font-size: 0.9rem;
    }

    .button-seu-cliente {
        width: 100%;
        padding: 3%;
    }
}

@media (max-width: 400px) {
    .garanta-a-satisfação-do-seu-cliente {
        height: auto; /* Alterado para altura automática */
    }
}

@media (max-width: 360px) {
    .garanta-a-satisfação-do-seu-cliente {
        height: auto; /* Alterado para altura automática */
    }
}
