footer {
    background-color: #000;
    height: 100vh;
    padding-left: 5%;
    padding-top: 10%;
    padding-right: 10%;
}

.footer-box {
    display: grid;
    grid-template-areas: "logo info form";
    grid-template-columns: 15% 35% 50%;
    gap: 2%;
    text-align: left;
}

.logo-footer-box {
    grid-area: logo;
}

.logo-footer {
    width: 80%;
    max-width: 100%;
    padding-top: 3%;
}

.infos-box {
    display: flex;
    justify-content: space-evenly;
    color: #fff;
    grid-area: info;
    font-weight: 400;
    gap: 10%;
}

.infos-itens-one,
.infos-itens-two {
    display: flex;
    flex-direction: column;
    gap: 2%;
}

a {
    text-decoration: none;
    color: #fff;
    font-weight: 300;
}


.form-box {
    display: flex;
    flex-direction: column;
    grid-area: form;
    color: #fff;
    text-align: left;
    gap: 10px;
    height: auto;
    padding-left: 5%;
}

.form {
    display: flex;
    flex-wrap: wrap;
}

.form > input {
    flex: 1;
    padding: 3%;
    background-color: #00000000;
    border: solid 1px #fff;
    box-shadow: none;
    margin-bottom: 2%;
    margin-right: 3%;
    color: #FFF;
}

.form-message {
    flex: 1;
    padding-bottom: 50px !important;
    width: 100%;
}

.button-form {
    width: 100%;
    padding: 2%;
    background-color: #FFF;
    border-radius: 100px;
    border: none;
}

.button-form:hover {
    background-color: #323232;
    color: #FFF;
    transition: 0.4s;
}

.assunto-forms {
    border: 1px solid white;
    background-color: #00000000;
    width: 97%;
    color: #fff;
    padding: 2%;
    margin-bottom: 10px;
}

@media (max-width: 768px) {
    footer {
        height: auto;
        padding: 20% 10% 0;
        padding-bottom: 20%;
    }

    .button-form{
        width: 90%;
    }

    .logo-footer {
        width: 40%;
    }

    .footer-box {
        display: flex;
        flex-direction: column;
    }

    .infos-box {
        display: flex;
        flex-direction: column;
        height: auto;
        padding-top: 10%;
        gap: 20px;
    }

    .infos-itens-one{
        display: flex;
        flex-direction:column;
        gap: 10px;
    }

    .infos-itens-two{
        display: flex;
        flex-direction:column;
        gap: 10px;
    }

    .form-box {
        padding-top: 5%;
        padding-left: 0%;
    }

    .form {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding-top: 2%;
    }

    .form > input {
        width: 90%;
        padding: 3%;
    }

    .form-message {
        width: 90% !important;
        padding: 5% !important;
    }
    .assunto-forms{
        width: 90%;
    }
}

@media (max-width: 500px) {
    footer {
        padding-top: 20%;
    }

    .assunto-forms {
        width: 90% !important;
    }

    .button-form {
        width: 90%;
    }
    .infos-box{
        display: flex;
        flex-direction: column;
        height: auto;
    }
}

@media (max-width: 667px) {
    .form-message{
        padding-bottom: 40px !important;
    }
}
