footer{
    background-color: #000;
    height: 80vh;
    padding-left: 10%;
    padding-top: 10%;
}

.footer-box{
    display: grid;
    grid-template-areas: "logo info form";
    grid-template-columns: 20% 30% 50%;
    height: 100%;
}

.logo-footer-box{
    grid-area: logo;
}
.logo-footer{
    width:50%;
}

.infos-box{
    display: flex;
    color: #fff;
    grid-area: info;
    font-weight: 400;
    gap: 10%;
}
.infos-itens-one{
    display: flex;
    flex-direction: column;
    gap: 2%;
    height: 100%;
}
.infos-itens-two{
    display: flex;
    flex-direction: column;
    gap: 2%;
    height: 100%;
}
a{
    text-decoration: none;
    color: #fff;
    font-weight: 300;
}
a:hover{
    color:#0074ff;
    transition: 0.3s;
}
.form-box{
    grid-area: form;
    color: #fff;
    padding-left: 5%;
}
.form{
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    padding-top: 2%;
    gap: 2%;
}
.form > input{
    display: flex;
    flex-wrap: wrap;
    width: 48%;
    padding: 3%;
    background-color: #00000000;
    border: solid 1px #fff;
    box-shadow: none;
    margin-bottom: 2%;
    color: #FFF;
}
.form-message{
    width: 98% !important;
    padding: 3% !important;
}
.button-form{
    width: 100%;
    padding: 2%;
    background-color: #FFF;
    border-radius: 100px;
    box-shadow: none;
    border: none;
}
.button-form:hover{
    background-color: #323232;
    color: #FFF;
    transition: 0.4s;
}

.assunto-forms{
    border: 1px solid white;
    background-color: #00000000;
    width: 98%;
    color: #fff;
    padding: 2%;
    margin-bottom: 10px;
}

@media (max-width: 868px) {

    footer{
        height: 120vh;
        padding-top: 20%;
    }

    .logo-footer{
        width: 40%;
    }

    .footer-box{
        display: flex;
        flex-direction: column;
        height: 100%;
    }
    .infos-box{
        display: flex;
        flex-direction: column;
        height: 30%;
        padding-top: 10%;
    }
    .form-box{
        padding-top: 30%;
        padding-left: 0%;
    }
    .form{
        width: 100%;
    }
    .form > input{
        width: 90%;
        padding:3%;
    }
    .form-message{
        width: 90% !important;
        padding: 5% !important;
    }
    
}