/* Estilos padrão */
.melhores-opcoes-frete {
    background-color: #FFF;
    height: auto; /* Alterado para altura automática */
    padding-bottom: 5%;
}

.frete-box {
    display: grid;
    grid-template-areas: "text image"; 
    grid-template-columns: 48% 52%;
    width: 100%;
    height: auto; /* Alterado para altura automática */
}

.text-icons {
    display: flex;
    flex-direction: column;
    gap: 2%;
    grid-area: text;
    padding-left: 10%;
    padding-top: 20%;
}

.title-fretes {
    font-size: 2.25rem;
    line-height: 50px;
    width: 80%;
    font-weight: 700;
}

.subtitle-fretes {
    font-size: 1.1rem;
    font-weight: 500;
}

.box-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.icon-check {
    font-size: 1.5rem;
}

.text-icon {
    color: #0074ff;
}

.icon-list {
    display: flex;
    gap: 1.5%;
}

.button-frete {
    margin-top: 2%;
    border-radius: 100px;
    padding: 2%;
    color: #FFF;
    border: none;
    background-color: #0074ff;
    width: 45%;
    font-size: 1rem;
    font-weight: 300;
}

.button-frete:hover {
    background-color: black;
    transition: 0.5s;
}

.image-container-frete {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-area: image;
}

.image-box-frete {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding-top: 15%;
}

.image-frete {
    width: 80%;
}

.image-container-frete-mobile {
    display: none;
}

@media (max-width: 768px) {
    .melhores-opcoes-frete {
        padding-top: 5%;
        padding-left: 10%;
        padding-right: 10%;
        padding-bottom: 10%;
        height: auto; /* Alterado para altura automática */
    }

    .image-box-frete{
        padding-top: 0%;
    }

    .frete-box {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: auto; /* Alterado para altura automática */
        padding-top: 20%;
        padding-bottom: 02%;
    }

    .image-container-frete-mobile {
        display: flex;
    }

    .text-icons {
        display: flex;
        flex-direction: column;
        gap: 1em;
        grid-area: text;
        padding: 0%;    
        height: auto; /* Alterado para altura automática */
    }

    .title-fretes {
        font-size: 1.9rem;
        line-height: 40px;
        width: 100%;
        font-weight: 700;
    }
    .image-box-frete{
        padding-top: 0%;
    }
    .image-frete {
        width: 100%;
    }

    .box-list {
        margin-top: 3%;
    }

    .icon-list {
        display: flex;
        align-items: center;
    }

    .icon-check {
        font-size: 1.4rem;
    }

    .text-icon {
        font-size: 15px;
        color: #0074ff;
    }

    .button-frete {
        padding: 10px;
        width: 80%;
    }

    .image-container-frete {
        display: none;
    }
}

@media (max-width: 400px) {
    .melhores-opcoes-frete {
        height: auto; /* Alterado para altura automática */
    }

    .image-box-frete{
        padding-top: 0%;
    }

    .frete-box {
        padding-top: 10%;
    }
}

@media (max-width: 360px) {
    .melhores-opcoes-frete {
        height: auto; /* Alterado para altura automática */
    }
    .image-box-frete{
        padding-top: 0%;
    }
}
