/* Estilos do menu */

.main-menu{
    display: flex;
    width: 100%;
    z-index: 100;
}

.menu-toggle {
    display: none;
    font-size: 24px;
    cursor: pointer;
    color: #fff;
}

.menu-list {
    display: flex;
    list-style: none;
    margin: 0;
    font-size: 0.9rem;
    font-weight: 300;
    padding: 0;
    gap: 1px;
}

.menu-list li {
    position: relative;
    margin: 0 10px;
}

.menu-list a {
    text-decoration: none;
    display: block;

}

/* Estilos do submenu */
.submenu-content {
    display: none;
    position: absolute;
    background-color: #000;
    padding-top: 10px;
    min-width: 200px;
}

/* Estilos do submenu */
.submenu {
    position: relative;
}

.submenu-content {
    display: none;
    position: absolute;
    background-color: #000;
    padding-top: 10px;
    min-width: 200px;
}

.submenu-content.active {
    display: block;
    z-index: 2; /* Adicione um valor maior de z-index */
}

/* Adicione espaço para o submenu empurrar os outros conteúdos */
.submenu-content.active + .submenu-content {
    margin-top: 10px;
}

.submenu-content li {
    margin: 0;
}

.submenu-content a {
    padding: 10px;
}

.localizaz-tech{
    display: none;
}

/* Estilos responsivos */
@media screen and (max-width: 768px) {
    .main-menu{
        display: flex;
        justify-content: end;
    }
    .menu-toggle {
        display: block;
    }
    
    .menu-list {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 65px;
        left: 0;
        width: 100%;
        background-color: #000;
        padding-top: 10%;
        padding-bottom: 5%;
        padding-left: 6%;
    }

    .localizaz-tech{
        display: flex;
        margin-left: 10%;
    }
    

    .menu-list li {
        margin: 0;
        margin-left: 10%;
        font-size: 1rem;
    }

    
}
