/* Estilos para a seção de visão geral */
.overview {
    padding-top: 5%;
    height: 100vh;
}

.overview-title-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    height: 20%;
}

.title-overview {
    font-size: 2.25rem;
    line-height: 50px;
}

.sub-overview {
    font-size: 1rem;
    font-weight: 400;
}

.text-overview {
    font-size: 1rem;
    color: #333;
}

/* Estilos para a seção de seleção */
.select-overview {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.select-overview > ul {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    cursor: pointer;
    list-style-type: none;
    padding: 0;
    margin-top: 2%;
}

/* Estilo para ocultar as imagens por padrão */
.img-selected {
    max-width: 75%;
    height: auto;
    display: none; /* Ocultar todas as imagens por padrão */
}

/* Estilo para mostrar a imagem quando o <li> é clicado */
.item-select.active .img-selected {
    display: block;
    width: 100%;
}

/* Estilize o item da lista ativo e destaque-o quando clicado */
.item-select.active {
    background-color: #0074ff;
    color: #fff;
    font-weight: bold;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s, color 0.3s;
    cursor: pointer;
}

/* Estilize os itens da lista como desejar */
.item-select {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    border: 1px solid #ccc;
    cursor: pointer;
    transition: transform 0.3s;
    width: 175px;
}

.active{
    display: flex;
    
}

/* Efeito de escala suave ao passar o mouse */
.item-select:hover {
    transform: scale(1.05);
}

.box-image-overview {
    display: flex;
    height: 50%;
    justify-content: center;
    align-items: center;
}

/* Adicione margem interna às imagens */
.box-image-overview img {
    margin-top: 40px;
}

@media (max-width: 768px) {

    .overview{
        height: 110vh;
        padding: 10%;
        padding-top:30%;
        padding-bottom: 30%;
        padding-left: 10%;
        padding-right: 10%;
    }
    .overview-title-box{
        display: flex;
        padding-top: 10%;
    }
    .title-overview{
        font-size: 1.9rem;
        line-height: 40px;
        width: 100%;
    }
    .sub-overview{
        font-size: 0.9rem;
        font-weight: 400;
    }
    .text-overview{
        font-size: 0.8rem;
    }

    .select-overview{
        padding-top: 30%;
    }
    .select-overview > ul{
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        flex-direction: column;
        width: 100%;
        gap: 10px;
    }
    .item-select{
        width: 100%;
    }
    .box-image-overview{
        display: flex;
        align-items: flex-start;
        padding-top: 0;
        justify-content: flex-start;
        width: 100%;
        
    }
    .box-image-overview img{
       margin-top: 0;
       margin: 0;
    }
    .img-selected{
        padding-top: 10%;
        max-width: 100%;
        margin: 0;
    }

}

@media (max-width: 500px) {
    .overview{
        height: 180vh;
        padding-top: 40%;
    }
}

@media (max-width: 360px) {
    .overview{
        height: 150vh;
    }
    ul{
        padding-top: 10% !important;
    }
}
@media (max-width: 400px) {
    .overview{
        height: 150vh;
    }
    ul{
        padding-top: 10% !important;
    }
}

@media (max-width: 600px) {
    .overview{
        height: 115vh;
        padding-top: 30%;
    }
    .select-overview{
        display: flex;
        justify-content: flex-start;
    }
    .box-image-overview{
        height: 20%;
    }
    .title-overview{
        font-size: 1.9rem;
        line-height: 40px;
    }
}

@media (max-width: 667px) {
    .overview{
        padding-top: 5%;
        padding-bottom: 20%;
        height: auto;
    }
    .select-overview{
        padding-top: 3%;
    }
}