.solucao-para-gestao-de-frete {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto; /* Altura automática para ajustar ao conteúdo */
    padding: 7% 10%; /* Simplificado o padding */
    background-color: #dedede;
}

.solucao-para-gestao-de-frete-box-one {
    display: flex; /* Mudança para flex-direction */
    align-items: center;
    height: auto; /* Altura automática */
}

.title-box-one {
    font-size: 2rem;
}

.image-box-one {
    width: 60%;
    text-align: center; /* Alinhamento de texto */
}

.solucao-para-gestao-de-frete-box-two {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 20px; /* Espaçamento entre os elementos */
}

.box-two-itens-one,
.box-two-itens-two {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 10%;
    width: 100%;
}

.item-box-two {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center; /* Alinhamento de texto */
}

.title-box-two {
    font-size: 4rem;
}

.text-box-two {
    color: #0074ff;
    font-size: 16px;
}

.button-solucoes {
    background-color: #0074ff;
    border: none;
    border-radius: 100px;
    width: 25%;
    padding: 1%;
    margin-left: 2%;
    text-align: center; /* Alinhamento de texto */
}

.button-solucoes > a {
    color: #FFF;
    font-size: 16px;
}

@media (max-width: 768px) {
    .solucao-para-gestao-de-frete {
        padding: 7%;
        height: auto; /* Altura automática */
    }
    .title-box-one {
        font-size: 25px;
    }
    .title-box-two {
        font-size: 3.3rem;
    }
    .button-solucoes {
        margin-top: 10px;
        padding: 5%;
        width: 80%;
    }
    .box-two-itens-two{
        display: flex;
        flex-direction: column;
    }
    .box-two-itens-one{
        display: flex;
        flex-direction: column;
    }
}

@media (max-width: 400px) {
    .solucao-para-gestao-de-frete {
        height: auto; /* Altura automática */
    }
    .box-two-itens-two{
        display: flex;
        flex-direction: column;
    }
    .box-two-itens-one{
        display: flex;
        flex-direction: column;
    }
}

@media (max-width: 360px) {
    .solucao-para-gestao-de-frete {
        height: auto; /* Altura automática */
    }
    .box-two-itens-two{
        display: flex;
        flex-direction: column;
    }
    .box-two-itens-one{
        display: flex;
        flex-direction: column;
    }
}
