.solucao-para-gestao-de-frete {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;
    padding-left: 05%;
    padding-right: 05%;
    padding-top: 5%;
    padding-bottom: 7%;
    background-color: #dedede;
}

.solucao-para-gestao-de-frete-box-one {
    display: flex; /* Mudança para flex-direction */
    align-items: center;
    height: auto; /* Altura automática */
}

.title-box-one {
    font-size: 2.1rem;
    width: 45%;
}

.image-box-one {
    width: 55%;
    text-align: center; /* Alinhamento de texto */
}

.solucao-para-gestao-de-frete-box-two {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 20px; /* Espaçamento entre os elementos */
}

.box-two-itens-one,
.box-two-itens-two {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 10%;
    width: 100%;
}

.item-box-two {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center; /* Alinhamento de texto */
}

.title-box-two {
    font-size: 4rem;
}

.text-box-two {
    color: #0074ff;
    font-size: 16px;
}

.button-solucoes {
    background-color: #0074ff;
    border: none;
    border-radius: 100px;
    width: 25%;
    padding: 0.8%;
    text-align: center; /* Alinhamento de texto */
}
.button-solucoes:hover{
    background-color: #000;
    transition: 0.5s;
    color: #FFF;
}
.button-solucoes-:hover{
    color: #FFF;
}

.button-solucoes > a {
    color: #FFF;
    font-size: 16px;
}

@media (max-width: 768px) {
    .solucao-para-gestao-de-frete {
        padding-top: 15%;
        padding-bottom: 20%;
        height: auto; /* Altura automática */
    }
    .solucao-para-gestao-de-frete-box-one{
        display: flex;
        flex-direction: column;
        height: auto;
        gap: 20px;
    }
    .image-box-one{
        width: 100%;
    }
    .title-box-one {
        width: 95%;
        font-size: 25px;
    }
    .title-box-two {
        font-size: 3.3rem;
    }
    .button-solucoes {
        margin-top: 10px;
        padding:3%;
        width: 90%;
        
    }

    button{
        padding: 10%;
    }
    .box-two-itens-two{
        display: flex;
        flex-direction: column;
        gap: 30px;
        
    }
    .box-two-itens-one{
        display: flex;
        flex-direction: column;
        gap: 30px;
    }
}

@media (max-width: 400px) {
    .solucao-para-gestao-de-frete {
        height: auto; /* Altura automática */
    }
    .box-two-itens-two{
        display: flex;
        flex-direction: column;
    }
    .box-two-itens-one{
        display: flex;
        flex-direction: column;
    }
}

@media (max-width: 360px) {
    .solucao-para-gestao-de-frete {
        height: auto; /* Altura automática */
    }
    .box-two-itens-two{
        display: flex;
        flex-direction: column;
    }
    .box-two-itens-one{
        display: flex;
        flex-direction: column;
    }
}
