/* Estilos padrão */
.conversao-de-venda {
    display: flex;
    align-items: center;
    padding: 10% 10% 10% 10%;
    min-height: 70vh;
}

.conversao-box {
    display: grid;
    width: 100%;
    grid-template-areas: "image text";
    grid-template-columns: 40% 60%;
}

.gif-phone {
    grid-area: image;
    width: 80%;
    max-width: 70%;
}

.text-conversao {
    padding-top: 5%;
    grid-area: text;
}

.title-conversao {
    font-size: 2.5rem;
    width: 100%;
}

.subtitle-conversao {
    font-size: 1.2rem;
    color: #0074FF;
    padding-bottom: 2%;
}

.icon-box {
    display: flex;
    align-items: center;
    margin-top: -15px;
}

.list-icons-conversao {
    display: flex;
    flex-direction: column;
    margin-left: -20px;
}

.icon-conversao {
    width: 13%;
}

.button-conversao {
    font-weight: 300;
    font-size: 1rem;
    color: #FFF;
    border-radius: 100px;
    border: none;
    background-color: #0074FF;
    height: 8%;
    width: 18%;
}

/* Estilos para telas menores (768px ou menos) */
@media screen and (max-width: 768px) {
    .conversao-de-venda {
        padding: 7% 7% 7% 7%;
    }

    .conversao-box {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .title-conversao {
        width: 90%;
        font-size: 2rem;
        line-height: 1.2em;
    }

    .subtitle-conversao {
        font-size: 1rem;
        width: 80%;
    }

    .icon-conversao {
        width: 25%;
    }

    .list-icons-conversao {
        margin-left: -5%;
    }

    .icon-description {
        width: 70%;
        font-size: 0.8rem;
    }

    .button-conversao {
        width: 90%;
    }

    .gif-phone {
        display: none;
    }
}

/* Estilos para telas muito pequenas (400px ou menos) */
@media screen and (max-width: 400px) {
    .conversao-de-venda {
        padding: 10% 7% 20% 7%;
    }

    .conversao-box {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .gif-phone {
        display: none;
    }
}
