/* Estilos padrão */
.gerencie-suas-entregas {
    padding: 5%;
    height: auto; /* Alterado para altura automática */
    background-color: #0074ff;
}

.gerencie-box {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.title-gerencie {
    font-size: 2.25rem;
    line-height: 50px;
}

.sub-gerencie {
    color: #fff;
    font-size: 1.3rem;
}

.image-icon-slide {
    display: grid;
    grid-template-areas: "image text";
    grid-template-columns: 50% 50%;
    width: 100%;
    justify-content: center;
}

.carousel-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.carousel {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transition: transform 0.3s ease-in-out;
}

.slide-venda {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center !important;
    text-align: center;
    padding: 20px;
    width: 90%;
    height: 400px; /* Defina a altura desejada aqui */
    background-color: #fff;
    -webkit-box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.75);
}

.image-slide-venda {
    width: 30%;
}

.content-slide-venda {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding-top: 5%;
}

.description-slide-venda {
    font-weight: 500;
    font-size: 1rem;
}

.slide img {
    max-width: 100%;
    height: auto;
}

.button-slide-venda {
    background-color: #00000000;
    border: 1px solid #000000;
    padding: 2%;
    border-radius: 100px;
    width: 45%;
    transition: 0.2s;
}

.button-slide-venda> a{
    width: 100%;
    height: 100%;
    color: #000;
}
.button-slide-venda> a:hover{
    color: #FFF;
}

.button-slide-venda:hover {
    background-color: #0074ff;
    color: #fff;
    border: 1px solid #0074ff;
}

.button-slide-venda:hover > a{
    color: #FFF;
}

/* ... seu CSS existente ... */

.carousel-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    left: 51%;
    width: 43%;
}

.arrow-venda {
    font-size: 2rem;
    cursor: pointer;
    color: #000;
    padding: 5px 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease-in-out;
}

.arrow:hover {
    background-color: rgba(0, 0, 0, 0.7);
}

.left-venda {
    margin-left: 20px;
}

.right-venda {
    margin-right: 20px;
}

.image-gerencie-box {
    padding-top: 5%;
    grid-area: image;
    padding-left: 10%;
}

.image-gerencie {
    width: 100%;
}

@media (max-width: 768px) {
    .gerencie-suas-entregas {
        height: auto; /* Alterado para altura automática */
        padding-top: 15%;
        padding-bottom: 20%;
        padding-left: 10%;
        padding-right: 10%;
    }

    .arrow-venda{
        font-size: 1.4rem;
        font-weight: 700;
        width: 10%;
    }

    .carousel-nav{
        left: 15%;
    }

    .gerencie-box {
        width: 100%;
    }

    .image-icon-slide {
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 0;
    }

    .title-gerencie {
        font-size: 1.9rem;
        line-height: 40px;
        width: 100%;
    }

    .slide-venda {
        position: relative;
        width: 100%;
        height: 300px;
        padding: 0;
        position: relative ;
        padding-top: 5%;
        padding-bottom: 5%;
    }

    .carousel-nav {
        left: 02.5%;
        width: 95%;
    }

    .description-slide-venda {
        font-weight: 500;
        font-size: 0.9rem;
        width: 80%;
    }

    .button-slide-venda {
        font-size: 0.8rem;
        padding: 3%;
        width: 60%;
    }

    .image-slide-venda {
        width: 40%;
        
    }
    .content-slide-venda{
        padding-top: 0;
        padding-bottom: 10%;
        gap: 15px;
    }
    .image-gerencie{
        margin-bottom: -10px;
    }
}

@media (max-width: 400px) {
    .gerencie-suas-entregas {
        height: auto; /* Alterado para altura automática */
    }
}
