.depoimentos {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto; /* Altura automática para ajustar ao conteúdo */
    background-color: #0074ff;
    padding: 7% 10%;
}

.box-depoimentos {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px; /* Espaçamento entre os elementos */
    text-align: center; /* Alinhamento de texto */
}

.box-depoimentos > h1 {
    color: #FFF;
    font-size: 3rem;
    text-align: center; /* Alinhamento de texto */
}

.text-destaque-title-depoimento {
    -webkit-text-stroke: 1.5px white;
    color: #4086ED;
}

.fas {
    display: flex;
    justify-content: flex-start;
    color: #FFF;
    font-size: 2.5rem;
    width: 100%;
    text-align: center; /* Alinhamento de texto */
}

.depoimento-text {
    color: #000;
    font-weight: 400;
    font-size: 0.9rem;
    width: 100%;
    text-align: center; /* Alinhamento de texto */
}

.name-person-depoimentos {
    font-size: 1.4rem;
    color: #FFF;
    text-align: center; /* Alinhamento de texto */
}

.item-person-depoimento {
    display: flex;
    width: 100%;
    justify-content: center; /* Alinhamento ao centro */
    align-items: center;
    gap: 2%;
    text-align: center; /* Alinhamento de texto */
}

.image-person-depoimento {
    width: 8%;
    color: #FFF;
    border-radius: 100px;
    text-align: center; /* Alinhamento de texto */
}

@media (max-width: 768px) {
    .depoimentos {
        padding: 25% 10%;
    }
    .box-depoimentos > h1 {
        font-size: 2.2rem;
    }
    .item-person-depoimento {
        gap: 8%;
    }
    .image-person-depoimento {
        width: 20%;
    }
}

@media (max-width: 400px) {
    .depoimentos {
        height: auto; /* Altura automática para ajustar ao conteúdo */
    }
}
